@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/futura_pt_book.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_book.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_book.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_book.svg#futura_pt_book') format('svg'); /* Chrome < 4, Legacy iOS */
}

* { 
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    font-family: 'Futura PT Book';
}

.company {
    display: grid;
    grid-template-columns: repeat(auto-fit, 560px);
    column-gap: 20px;
    justify-content: center;
}

.company:not(:last-child) {
    margin-bottom: 50px;
}

.company-image {
    width: 560px;
    height: 560px;
    object-fit: cover;
}

.company-info {
    box-sizing: border-box;
    min-width: 560px;
    max-width: 560px;
    min-height: 560px;
    max-height: 560px;
    padding: 60px;
    font-size: 17px;
    line-height: 1.8;
}

.company-info .company-name {
    font-size: 38px;
    font-weight: 300;
}

.company-info .company-name > a {
    text-decoration: none;
    color: inherit;
}

.company-info .company-name > a:hover {
    opacity: 0.5;
    transition: all .1s ease-in;
}

.line {
    width: 153px;
    height: 3px;
    background: white;
    margin-bottom: 25px;
}

.agro-invest .line { 
    background-color: white;
}

.agro-grib .line { 
    background-color: black;
}

.agro-invest .company-info {
    background: #6ca437;
    color: white;
}

.agro-grib .company-info {
    background: #ffd100;
    color: black;
}

@media (max-width: 560px) {
    .company { 
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .company-info {
        min-width: 100%;
        min-height: auto;
        max-height: fit-content;
    }

     .company-image {
         width: 100%;
         max-height: 50vh;
    }

    .company-info .company-name {
        font-size: 21px;
        font-weight: 300;
    }
}